body {
	background-color: #CB7E31 !important;
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	margin-top: -2.5em;
}

.petersnell {
	font-family: 'Amatic SC', cursive;
	float: left;
	margin-left: 32em;
}

.gallipoli {
	font-family: 'Amatic SC', cursive;
	float: right;
	margin-right: 32em;
}

a {
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 1.8em;
}

a:hover {
	color: white;
	font-style: italic;
}

.bookingjs {
	margin: 6em 2em 2em 2em !important;
}

.fc-scroller {
	height: 30em !important;
}

.fc-event {
	border: none !important;
	background-color: #EFEFEF !important;
	border-radius: 0px !important;
	margin: 1px 0px !important;
}

.fc-event:hover {
	background-color: #DC800C !important;
}

.bookingjs-form-button {
		background-color: #DC800C !important;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead  {
	border-color: #CB7E31 !important;
}

.bookingjs-poweredby {
	font-size: 0em !important;
}

.bookingjs-timekitlogo {
	width: 0em !important;
}

/* footer */
.footer {
	height: 3em;
	background-color: #CB7E31;
	display: block;
	margin: -.6em -0.5em -0.5em;
	left: auto;
	right: auto;
	overflow: hidden;
}

#footerLogo {
	height: 2.5em;
	max-width: 100%;
	padding-left: 25em;
}

#footerh4 {	
	font-weight: 400;
	font-size: .7em;
	padding: 0em 2em;
}
